extends _layout

mixin traveller(config)
	- var id = global.IDGenerator.next().value;
	- var id2 = global.IDGenerator.next().value;

	.traveller(id=id, tabindex=config.tabindex || -1)
		+delete-button({'aria-controls': id})
		img.traveller-thumbnail(src="images/traveller.png")
		h3= `Traveller ${id}`

block css
	+css("normalize")
	+css("dialog")
	+css("styles")

block content
	#speech-queue(aria-live="rude", aria-relevant="additions")
		span(aria-atomic=false)
		span(aria-atomic=false)

	#menu
		h1= 'Good luck!'


	h1= 'Please review your trip details'
	h2#traveller-name= 'These people will be travelling with you'

	#traveller-description= "To delete press the arrow key"

	.travellers(role="application")
		+traveller({src:'images/image-0.jpg', tabindex: '0'})
		+traveller({src:'images/image-1.jpg'})
		+traveller({src:'images/image-2.jpg'})
		+traveller({src:'images/image-3.jpg'})
		+traveller({src:'images/image-4.jpg'})
		+traveller({src:'images/image-5.jpg'})


	h2= 'WORK EXPERIENCE'

	.tab-list(role="tablist", aria-multiselectable="true")

		-console.log('outside');
		+tab-and-tab-panel
			block tab
				h3= "Commonwealth Bank of Australiahhh"
			block tab-panel
				p= "Here is some text..."

		-console.log('outside');		
		+tab-and-tab-panel
			block prepend tab
				h3= "Tonic"
			block tab-panel
				p= "Here is some text..."

		-console.log('outside');
		+tab-and-tab-panel
			block prepend tab
				h3= "Sapient Nitro"
			block tab-panel
				p= "Here is some text..."

		-console.log('outside');
		+tab-and-tab-panel
			block prepend tab
				h3= "Imagination"
			block tab-panel
				p= "Here is some text..."

		

					
block js
	+script('polyfill')
	+script('iterator')
	+script('queue')
	+script('speech-queue')
	+script('persistent-press')
	+script('tab-list')
	+script('remove')
	+script('autofocus')
	+script('dialog')
	+script('directional-navigation')
	+script('program')